@import "mocha.css";
@define-color bg @base;
@define-color fg @blue;
@define-color fg2 @mauve;

/* @define-color green rgba(166, 227, 161, 1); */
/* @define-color orange #e48400; */
@define-color orange rgba(180,94,60, 1);
/* @define-color red rgba(243, 139, 168, 1); */
@define-color bar-bg rgba(30, 30, 46, 0);
@define-color main-bg rgba(30, 30, 46, 0.8);
@define-color main-fg rgba(180,190,254,1);
@define-color wb-act-bg rgba(180,190,254,0.9);
@define-color wb-act-fg rgba(0,0,0,0.7);
@define-color wb-hvr-bg rgba(75,75,125,0.4);
@define-color wb-hvr-fg rgba(174,170,240,0.8);

* {
  border: none;
  border-radius: 0px;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 12px;
  min-height: 10px;
}

window#waybar {
  background: @bar-bg;
  border-radius: 15px;
}

tooltip {
  background: @main-bg;
  color: @main-fg;
  border-radius: 7px;
  border-width: 0px;
}

menu {
  background: rgba(30, 30, 46, 0.95);  /* Dracula dark */
  border-radius: 12px;
  padding: 6px;
  border: 1px solid rgba(189, 147, 249, 0.4);  /* Purple glow */
  /* box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.6); */
}
menuitem {
  padding: 8px 16px;
  margin: 4px;
  border-radius: 8px;
  background: transparent;
  color: #f8f8f2;
  font-weight: 500;
  transition: all 120ms ease-in-out;
}
menuitem:hover {
  background: linear-gradient(
    90deg,
    rgba(189, 147, 249, 0.25),
    rgba(139, 233, 253, 0.25)
    );
  color: #ffffff;
}
menuitem:disabled {
  color: #6272a4;
  background: transparent;
}
menu separator {
  margin: 6px 12px;
  background: rgba(98, 114, 164, 0.4);
  min-height: 1px;
}

#taskbar button,
#workspaces button {
  color: @main-fg;
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
  border-radius: 9px;
  padding-left: 3px;
  padding-right: 3px;
  margin-top: 3px;
  margin-right: 1px;
  margin-bottom: 3px;
  margin-left: 1px;
}

#taskbar button.active,
#workspaces button.active {
  background: @wb-act-bg;
  color: @wb-act-fg;
}

#taskbar button:hover,
#workspaces button:hover {
  background: @wb-hvr-bg;
  color: @wb-hvr-fg;
}

/* Groups */
#tray,
#workspaces,
#taskbar,
#clock-inhibitor,
#control-panel,
#system-levels {
  /* color: @main-fg; */
  background: @main-bg;
  opacity: 1;
  border-radius: 21px;
  margin: 4px 2px 4px 2px;
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid rgba(255, 255, 255, 0.08);
}


#battery,
#bluetooth,
#custom-music,
#network,
#pulseaudio,
#clock,
#idle_inhibitor,
#power-profiles-daemon,
#custom-power {
  color: @main-fg;
  opacity: 1;
  margin: 4px 1px 4px 1px;
  padding-left: 4px;
  padding-right: 4px;
}

/* State specific */
#power-profiles-daemon.performance {
  /* color: #fcc200; */
  color: #daa520;
}

#network,
#power-profiles-daemon.power-saver {
  color: @green;
}

#battery.warning {
  color: @peach;
}

#network.disabled,
#battery.critical,
#bluetooth.off,
#bluetooth.disabled,
#pulseaudio.muted {
  color: @red;
}

